body {
  background-image: url('goovepaper.png');
}
#head {
  width: 100%;
}

#head img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#container {
  position: relative;
  left: 10%;
  width: 80%;
  padding: 5px;
  text-align: center;
  border: 3px solid #715414;
  background-color: rgba(100,100,100,.5);
  opacity: 1;
  min-height: 400px;
  border-radius: 5px;
}

#container input {
  width: 200px;
  height: 20px;
}

#trackbox {
  width: 100%;
  text-align: left;
  line-height: 20px;
  border-bottom: 1px solid black;
}

#trackbox h2 {
  float: left;
  margin: 5px;
}

#trackbox span {
  float:right;
  margin: 5px 10px;
}

#trackbox h4 {
  margin: 25px 5px 10px 5px ;
}





